.tag {
  display: block;
  max-width: fit-content;
  padding: 4px 8px;
  font-size: rem(14);
  line-height: rem(20);
  font-weight: 700;
  border-radius: 8px;
  background-color: $color-green-light;
  transition: background-color 0.2s cb(snappy);
}