.tooltip {
  border: 1px solid $color-green-light;
  background-color: $color-green-lighter;
  padding: 24px 40px;
  margin-top: -$common-border-radius;
  border-radius: 0 0 $common-border-radius $common-border-radius;

  &__cta {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: rem(13);
    line-height: rem(13);
    font-weight: 700;
    text-decoration: underline;
    color: $color-grey-medium;

    .icon {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
    }
  }

  &--form {
    padding: 16px 24px;
    margin-bottom: 24px;

    .tooltip__cta {
      align-items: flex-start;
      text-decoration: none;
      font-weight: 400;
    }
  }
}
