<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <!-- To customize the asp.net core module uncomment and edit the following section. 
    For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

    <system.webServer>
        <handlers>
            <remove name="aspNetCore"/>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified"/>
        </handlers>
        <aspNetCore processPath="dotnet" arguments=".\Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
            <environmentVariables>
                <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production"/>
            </environmentVariables>
        </aspNetCore>
        <security>
            <requestFiltering removeServerHeader="true">
                <requestLimits maxAllowedContentLength="209715200"/>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="LetsEncrypt Rule" stopProcessing="true">
                    <match url="^\.well-known.*$"/>
                    <action type="None"/>
                </rule>
                <rule name="Force HTTPS" enabled="true">
                    <match url="(.*)" ignoreCase="false"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="off"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="true"
                            redirectType="Permanent"/>
                </rule>
                <rule name="Force non-WWW" enabled="true">
                    <match url="(.*)"/>
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$"/>
                    </conditions>
                    <action type="Redirect" url="https://{C:2}/{R:1}" appendQueryString="true"
                            redirectType="Permanent"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>


</configuration>